/* ********************** 
Classes for hero section
*****************************/

.navbar-link.title:link,
navbar-link.title:visited,
navbar-link.title:hover,
navbar-link.title:active {
    font-size: 3.2rem;
    font-weight: 500;
}
.hero-section {
    /* background-color: orange; */
    height: calc(100vh);
}
.hero-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 4rem; */
    margin: auto auto;
    /* background: lightcoral; */
    height: 100%;
    gap: 1.6rem;
}
.sticky .hero-section {
    padding-top: var(--navbar-height);
}
/* Left section for text and Call to action button */
.hero-text-section {
    display: flex;
    flex-direction: column;
    /* background: dodgerblue; */
}
.hero-text-section h1 {
}

.hero-text-section h2 {
    margin-top: 0.8rem;
}

.hero-text-section article {
    max-width: 55rem;
    margin-top: 3.2rem;
}

.hero-text-section a {
    align-self: flex-start;
    margin-top: 3.2rem;
}

.hero-text-section article,
.hero-text-section a {
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/* Right Section */

.picture-section {
    /* background: gold; */
}
.profile-picture-container {
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    border-width: 5px;
    border: 5px solid var(--color-primary-lighter);
    overflow: hidden;
    object-fit: cover;
    box-shadow: 1px 10px 100px var(--color-primary);
    animation-duration: 2s;
    opacity: 0;
}
.profile-picture {
    transform: translate(-3.5rem, -2.5rem);
}

.hero-section-buttons {
    display: flex;
    margin-top: 1.6rem;
    justify-content: left;
    align-items: flex-start;
    gap: 1.6rem;
}

/* For screen width less than 1024px reduce the profile picture size */
@media screen and (max-width: 1024px) {
    .profile-picture-container {
        height: 30rem;
        width: 30rem;
    }
    .profile-picture {
        transform: translate(-14.5rem, -13.5rem) scale(0.7);
    }
}
/* Tabletes Portrait then change the layout. Profile picture on top */
@media screen and (max-width: 1024px) and (orientation: portrait) {
    .hero-section-content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 4.8rem;
    }
    .hero-text-section {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
    .hero-text-section h1,
    .hero-text-section h2 {
        text-align: center;
    }
    .hero-section {
        /* height: 90vh; */
    }
}

/* Large Phone screens . Reduce the profile picture and remove the headline
    My name is Ali to save the space
    The can see the name on top left at navbar
    Also reduce the height to 90vh becaus bottom or top address bar tak up some space initially
*/
@media screen and (max-width: 478px) {
    .hero-section {
        height: 90vh;
    }
    .hero-section-content {
        gap: 3.2rem;
    }
    .profile-picture-container {
        height: 20rem;
        width: 20rem;
    }
    .profile-picture {
        transform: translate(-18.5rem, -21.5rem) scale(0.4);
    }
    .hero-text-section h1 {
        display: none;
    }
}
/* 
Medium Phone screen. 
Less than iPhone 12. Further reduce profile picture size

*/
@media screen and (max-width: 390px) {
    .profile-picture-container {
        margin-top: 0.8rem;
        height: 15rem;
        width: 15rem;
    }
    .profile-picture {
        transform: translate(-20rem, -24.5rem) scale(0.35);
    }
    .hero-text-section h2 {
        margin-top: 0.8rem;
    }
    .hero-text-section article,
    .hero-text-section a {
        margin-top: 1.6rem;
    }
}

@media screen and (max-width: 389px) {
    .hero-section-content {
        justify-content: flex-end;
    }
}
@media screen and (max-height: 725px) {
    .hero-section {
        height: auto;
        padding-bottom: 1.6rem;
    }
}
/* Landscape for phone */
@media screen and (max-height: 478px) and (orientation: landscape) {
    .sticky .hero-section {
        height: auto;
    }
}

/* *********************
    Classes for skills section
*/

/* .skills-section {
    padding-top: 9.6rem;
} */
