.navbar-link.title:link,
navbar-link.title:visited,
navbar-link.title:hover,
navbar-link.title:active {
    font-size: 3.2rem;
    font-weight: 500;
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 4rem; */
    max-width: 140rem;
    margin: auto auto;
    /* background: lightcoral; */
}
.sticky .hero-section {
    height: 100vh;
    padding-top: 8rem;
}
/* Left section for text and Call to action button */
.hero-text-section {
    /* background: dodgerblue; */
}
.hero-text-section h1 {
    animation-name: slideInFromLeft;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

.hero-text-section h2 {
    margin-top: 0.8rem;
    animation-name: slideUpFromBottom;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
}

.hero-text-section article {
    max-width: 55rem;
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

/* Right Section */

.picture-section {
    /* background: gold; */
}
.profile-picture-container {
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    border-width: 5px;
    border: 5px solid var(--color-primary-lighter);
    overflow: hidden;
    object-fit: cover;
    box-shadow: 1px 10px 100px var(--color-primary);
    animation-name: slideInFromRight;
    animation-delay: 0.8s;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.profile-picture {
    transform: translate(-3.5rem, -2.5rem);
}
@media screen and (max-width: 1200px) {
    .profile-picture-container {
        height: 40rem;
        width: 40rem;
    }
    .profile-picture {
        transform: translate(-9.5rem, -7.5rem) scale(0.8);
    }
}

@media screen and (max-width: 1024px) {
    .profile-picture-container {
        height: 30rem;
        width: 30rem;
    }
    .profile-picture {
        transform: translate(-14.5rem, -13.5rem) scale(0.7);
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .hero-section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .hero-text-section {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
    .hero-text-section h1,
    .hero-text-section h2,
    .hero-text-section p {
        text-align: center;
    }
    .sticky .hero-section {
        height: 90vh;
        padding-top: 8rem;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 478px) {
    .profile-picture-container {
        height: 20rem;
        width: 20rem;
    }
    .profile-picture {
        transform: translate(-18.5rem, -21.5rem) scale(0.4);
    }
    .hero-text-section h1 {
        display: none;
    }
}
