*,
*::after,
*::before {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Good place t start selecting a color
    https://www.materialpalette.com/
*/

:root {
    --color-default-background: #fff;
    --color-default-background-variation1: #f9f9f9;
    --color-default-background-variation2: #e6e6e6;
    --color-default-background-variation3: #cccccc;

    --color-primary: #2196f3;
    --color-primary-lighter: #4dabf5;
    --color-primary-darker: #1e87db;

    /*
        https://maketintsandshades.com/
        lightest is usually third last
        darkest is 5th element on darker row
    */
    --color-lightest-background: #e9f5fe;
    --color-lightest-background-border-shadow: #d3eafd50;
    --color-darkest-background: #114b7a;

    --color-secondary: #00d9ff;
    --color-secondary-lighter: #33e1ff;
    --color-secondary-darker: #00c3e6;

    --color-accent: #fb8500;
    --color-accent-lighter: #fc9d33;
    --color-accent-darker: #c96a00;

    --color-success: #00775d;
    --color-info: #efc349;
    --color-critical: #ba2121;

    --color-heading: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-borders: #ccc;

    --border-radius: 30px;

    /* Text Color */
    --text-color-primary: #333;
    --text-color-secondary: #555;
    --text-color-tertiary: #6f6f6f;
    --text-color-quaternary: #777;
    --text-color-quinary: #bbb;
    --text-color-senary: var(--color-primary);
    --text-color-septenary: var(--color-darkest-background);
    --text-color-success: var(--color-success);
    --text-color-info: var(--color-info);
    --text-color-critical: var(--color-critical);

    /* input box */

    --navbar-background-color: #000;
    --navbar-background-color-transparency: #000000dd;
    --navbar-contrast-gradient-color: #88888866;
    --navbar-links-color: #fff;
    --navbar-links-active-hover-color: #ccc;

    /* Layout variable */

    --section-spacing-desktop: 9.6rem;
    --section-spacing-tablets: 6.4rem;
    --section-spacing-mobile: 4.8rem;
}

/* Typography */
html {
    font-size: 62.5%;
    scroll-padding-top: 10rem;
    overflow-x: hidden;
}
body {
    font-family: Roboto, Helvetica, sans-serif;
    /* font-family: "Rubik", sans-serif; */
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h6,
h6 {
    color: var(--text-color-septenary);
}
p {
    color: var(--text-color-primary);
    margin-top: 0;
}

/* Badges */

.badge {
    border-radius: 20px;
    font-weight: 500;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background-color: var(--color-primary);
    color: white;
}
.badge--secondary {
    background-color: var(--color-secondary);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--bold {
    font-size: bold;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 5rem;
}
.list--tick .list__item {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */

.icon {
    width: 40px;
    height: 40px;
}
.icon--primary {
    fill: var(--color-primary);
    color: red;
}

.icon--white {
    fill: white;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon-container {
    background-color: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Backgrounds */
.default-background {
    background-color: var(--color-default-background);
}
.default-background-variation1 {
    background-color: var(--color-default-background-variation1);
}
.default-background-variation2 {
    background-color: var(--color-default-background-variation2);
}
.default-background-variation3 {
    background-color: var(--color-default-background-variation3);
}

.primary-background {
    background-color: var(--color-primary);
}

.primary-lighter-background {
    background-color: var(--color-primary-lighter);
}
.primary-darker-background {
    background-color: var(--color-primary-darker);
}

.primary-lightest-background {
    background-color: var(--color-lightest-background);
}
.primary-darkest-background {
    background-color: var(--color-darkest-background);
}

.secondary-background {
    background-color: var(--color-secondary);
}

.secondary-lighter-background {
    background-color: var(--color-secondary-lighter);
}
.secondary-darker-background {
    background-color: var(--color-secondary-darker);
}
.accent-background {
    background-color: var(--color-accent);
}
.accent-lighter-background {
    background-color: var(--color-accent-lighter);
}
.accent-darker-background {
    background-color: var(--color-accent-darker);
}

.success-background {
    background-color: var(--color-success);
}

.info-background {
    background-color: var(--color-info);
}
.critical-background {
    background-color: var(--color-critical);
}

/* SVG backgrounds */

.svg-wavybackground {
    width: 100%;
    height: 100%;
    background: url("/images/wavybackground.svg");
    background-size: cover;
}

/* Text */

.primary-text-color {
    color: var(--text-color-primary);
}

.secondary-text-color {
    color: var(--text-color-secondary);
}

.tertiary-text-color {
    color: var(--text-color-tertiary);
}

.quaternary-text-color {
    color: var(--text-color-quaternary);
}

.quinary-text-color {
    color: var(--text-color-quinary);
}

.senary-text-color {
    color: var(--text-color-senary);
}

.septenary-text-color {
    color: var(--text-color-septenary);
}

.accent-text-color {
    color: var(--color-accent);
}

.success-text-color {
    color: var(--text-color-success);
}
.info-text-color {
    color: var(--text-color-info);
}
.critical-text-color {
    color: var(--text-color-critical);
}

/* *****************
    Buttons
**********************/
/* Primary button */
.adp-btn {
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    /* text-transform: uppercase; */
    white-space: nowrap;
    text-align: center;
    transition: all 0.3s;
}
.adp-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem var(--color-lightest-background-border-shadow);
}

.adp-btn--rounded-edge {
    border-radius: 40px;
}
.full-width {
    width: 100%;
}
.adp-btn--primary {
    background: var(--color-primary);
    color: white;
    box-shadow: 1px 1px 5px var(--color-primary-lighter);
}

.adp-btn--primary:hover {
    background: var(--color-primary-lighter);
}
.adp-btn--primary:active {
    box-shadow: inset 1px 3px 10px var(--color-primary-darker);
}
/* Primary button  Glow*/
.adp-btn--primary-glow {
    background: var(--color-primary);
    color: white;
    box-shadow: 1px 3px 10px var(--color-primary);
}

.adp-btn--primary-glow:hover {
    background: var(--color-primary-lighter);
    box-shadow: 1px 3px 10px var(--color-primary-lighter);
}

.adp-btn--primary-glow:active {
    /* box-shadow: inset 0 0 5px 1px lightgray; */
    box-shadow: inset 1px 3px 10px var(--color-primary-darker);
}

/* Primary button end */

/* Secondary button */
.adp-btn--secondary {
    background: var(--color-secondary);
    color: white;
    box-shadow: 1px 1px 5px var(--color-secondary-lighter);
}

.adp-btn--secondary:hover {
    background: var(--color-secondary-lighter);
}
.adp-btn--secondary:active {
    box-shadow: inset 1px 3px 10px var(--color-secondary-darker);
}
/* Primary button  Glow*/
.adp-btn--secondary-glow {
    background: var(--color-secondary);
    color: white;
    box-shadow: 1px 3px 10px var(--color-secondary);
}

.adp-btn--secondary-glow:hover {
    background: var(--color-secondary-lighter);
    box-shadow: 1px 3px 10px var(--color-secondary-lighter);
}

.adp-btn--secondary-glow:active {
    /* box-shadow: inset 0 0 5px 1px lightgray; */
    box-shadow: inset 1px 3px 10px var(--color-secondary-darker);
}

/* Secondary button end */

/* Outline Button */
.adp-btn--outline {
    background: #fff;
    color: var(--color-primary);
}
.adp-btn--outline-glow {
    background: #fff;
    color: var(--color-primary);
    box-shadow: 1px 3px 10px lightgray;
}

.adp-btn--outline:hover,
.adp-btn--outline-glow:hover {
    background: transparent;
    color: white;
    box-shadow: inset 0 0 1px 1px white;
}

.adp-btn--outline:active,
.adp-btn--outline-glow:active {
    box-shadow: inset 0 0 0 3px lightgray;
}

/* End Outline Button */

/* Accent button */
.adp-btn--accent {
    background: var(--color-accent);
    color: white;
}

.adp-btn--accent:hover {
    background: var(--color-accent-lighter);
}
.adp-btn--accent:active {
    box-shadow: inset 1px 3px 10px var(--color-accent-darker);
}
/* Primary button  Glow*/
.adp-btn--accent-glow {
    background: var(--color-accent);
    color: white;
    box-shadow: 1px 3px 10px var(--color-accent);
}

.adp-btn--accent-glow:hover {
    background: var(--color-accent-lighter);
    box-shadow: 1px 3px 10px var(--color-accent-lighter);
}

.adp-btn--accent-glow:active {
    /* box-shadow: inset 0 0 5px 1px lightgray; */
    box-shadow: inset 1px 3px 10px var(--color-accent-darker);
}

/* Accent button end */
.adp-btn--block {
    width: 100%;
    display: inline-block;
}
.adp-btn-small {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
}

/* End Buttons */

/* *****************
    Links
**********************/
a {
    text-decoration: none;
}

.adp-link:link,
.adp-link:visited {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.adp-link--primary:link,
.adp-link--primary:visited {
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
}
.adp-link--primary:hover,
.adp-link--primary:active {
    color: var(--color-primary-lighter);
    border-bottom: 1px solid transparent;
}

.adp-link--white {
    color: #fff;
    border-bottom: 1px solid currentColor;
}
.adp-link--white:hover,
.adp-link--white:active {
    color: #f1f1f1;
    border-bottom: 1px solid transparent;
}

.link-arrow {
}
.link-arrow::after {
    content: "->";
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after {
    margin-left: 10px;
}

/* End Links */

/******************
    Text Styles
******************/

.adp-text-largest-title,
.adp-text-larger-title,
.adp-text-large-title,
.adp-text-title1,
.adp-text-title2,
.adp-text-title3 {
    letter-spacing: -0.5px;
}
.adp-text-largest-title {
    font-size: 8.6rem;
    font-weight: 500;
    line-height: 1.05;
}
.adp-text-larger-title {
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.05;
}
.adp-text-large-title {
    font-size: 5.2rem;
    font-weight: 500;
    line-height: 1.05;
}

.adp-text-title1,
.adp-text-title2,
.adp-text-title3,
.adp-text-headline1 {
    line-height: 1.2;
    /* letter-spacing: 0px; */
}
.adp-text-headline2,
.adp-text-headline3 {
    line-height: 1.3;
    letter-spacing: 0px;
}

.adp-text-body-large,
.adp-text-body-large-bold,
.adp-text-body,
.adp-text-body-bold,
.adp-text-body-small,
.adp-text-body-small-bold {
    line-height: 1.6;
}

.adp-text-title1 {
    font-size: 4.4rem;
    font-weight: 400;
}

.adp-text-title2 {
    font-size: 4rem;

    font-weight: 500;
}

.adp-text-title3 {
    font-size: 3.6rem;
    font-weight: 600;
}

.adp-text-headline1 {
    font-size: 3rem;
    font-weight: 500;
}

.adp-text-headline2 {
    font-size: 2.4rem;
    font-weight: 700;
}

.adp-text-headline3 {
    font-size: 2rem;
    font-weight: 700;
}

.adp-text-body-large {
    font-size: 2rem;
    font-weight: 400;
}
.adp-text-body-large-bold {
    font-size: 2rem;
    font-weight: 600;
}

.adp-text-body {
    font-size: 1.8rem;
    font-weight: 400;
}
.adp-text-body-bold {
    font-size: 1.8rem;
    font-weight: 600;
}

.adp-text-body-small {
    font-size: 1.6rem;
    font-weight: 400;
}
.adp-text-body-small-bold {
    font-size: 1.6rem;
    font-weight: 600;
}

.adp-text-caption {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
}

.adp-text-footnote {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3;
}
.weight-regular {
    font-weight: 400;
}
.weight-medium {
    font-weight: 500;
}
.weight-semi-bold {
    font-weight: 600;
}
.weight-bold {
    font-weight: 700;
}

/* Tablets / iPads */
@media screen and (max-width: 1024px) {
    .adp-text-largest-title {
        font-size: 8rem;
    }
    .adp-text-larger-title {
        font-size: 6rem;
    }
    .adp-text-large-title {
        font-size: 4.8rem;
    }
    .adp-text-title1 {
        font-size: 4rem;
    }
    .adp-text-title2 {
        font-size: 3.8rem;
    }
    .adp-text-title2 {
        font-size: 3.4rem;
    }
    .adp-text-headline1 {
        font-size: 2.8rem;
    }
}
/* Phone landscape */
@media screen and (max-width: 768px) {
    .adp-text-largest-title {
        font-size: 7.2rem;
    }
    .adp-text-larger-title {
        font-size: 5.6rem;
    }
    .adp-text-large-title {
        font-size: 4.4rem;
    }
    .adp-text-title1 {
        font-size: 3.8rem;
    }
    .adp-text-title2 {
        font-size: 3.6rem;
    }
    .adp-text-title3 {
        font-size: 3.2rem;
    }
}
/* Phone portrait */
@media screen and (max-width: 478px) {
}

/* Text Styles end here */

/*********************
    Text Inputs 
********************/

.adp-input {
    width: 100%;
    padding: 1.2rem 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    border-radius: 9px;
    background-color: var(--color-lightest-background);
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 0 0 0.8rem rgba(220, 245, 224, 0.5); */
    color: var(--text-color-secondary);
    font-weight: 500;
    transition: all 0.4s;
}
.adp-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem var(--color-lightest-background-border-shadow);
}
.adp-input::placeholder {
    color: var(--text-color-quaternary);
}

.adp-options {
    accent-color: var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-lightest-background);
    border: none;
}
.adp-options:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem var(--color-lightest-background-border-shadow);
}

/*
*****************

Standard Margins 

******************
*/
/* Top */

.margin-top-16 {
    margin-top: 1.6rem;
}
.margin-top-24 {
    margin-top: 2.4rem;
}
.margin-top-32 {
    margin-top: 3.2rem;
}
.margin-top-48 {
    margin-top: 4.8rem;
}
.margin-top-64 {
    margin-top: 6.4rem;
}
.margin-top-96 {
    margin-top: 9.6rem;
}

/* Left */

.margin-left-16 {
    margin-left: 1.6rem;
}
.margin-left-24 {
    margin-left: 2.4rem;
}
.margin-left-32 {
    margin-left: 3.2rem;
}
.margin-left-48 {
    margin-left: 4.8rem;
}
.margin-left-64 {
    margin-left: 6.4rem;
}
.margin-left-96 {
    margin-left: 9.6rem;
}

/* Right */

.margin-right-16 {
    margin-right: 1.6rem;
}
.margin-right-24 {
    margin-right: 2.4rem;
}
.margin-right-32 {
    margin-right: 3.2rem;
}
.margin-right-48 {
    margin-right: 4.8rem;
}
.margin-right-64 {
    margin-right: 6.4rem;
}
.margin-right-96 {
    margin-right: 9.6rem;
}

/* Bottom */

.margin-bottom-16 {
    margin-bottom: 1.6rem;
}
.margin-bottom-24 {
    margin-bottom: 2.4rem;
}
.margin-bottom-32 {
    margin-bottom: 3.2rem;
}
.margin-bottom-48 {
    margin-bottom: 4.8rem;
}
.margin-bottom-64 {
    margin-bottom: 6.4rem;
}
.margin-bottom-96 {
    margin-bottom: 9.6rem;
}

/* Horizontal */

.margin-horizontal-16 {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}
.margin-horizontal-24 {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.margin-horizontal-32 {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}
.margin-horizontal-48 {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
}
.margin-horizontal-64 {
    margin-left: 6.4rem;
    margin-right: 6.4rem;
}
.margin-horizontal-96 {
    margin-left: 9.6rem;
    margin-right: 9.6rem;
}

.margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Vartical */

.margin-vertical-16 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
.margin-vertical-24 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}
.margin-vertical-32 {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
.margin-vertical-48 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}
.margin-vertical-64 {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
}
.margin-vertical-96 {
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

/* All */

.margin-16 {
    margin: 1.6rem 1.6rem;
}
.margin-24 {
    margin: 2.4rem;
}
.margin-32 {
    margin: 3.2rem;
}
.margin-48 {
    margin: 4.8rem;
}
.margin-64 {
    margin: 6.4rem;
}
.margin-96 {
    margin-top: 9.6rem;
}
.margin-auto {
    margin: auto auto;
}

/*
*****************

Standard padings 

******************
*/
/* Top */

.padding-top-16 {
    padding-top: 1.6rem;
}
.padding-top-24 {
    padding-top: 2.4rem;
}
.padding-top-32 {
    padding-top: 3.2rem;
}
.padding-top-48 {
    padding-top: 4.8rem;
}
.padding-top-64 {
    padding-top: 6.4rem;
}
.padding-top-96 {
    padding-top: 9.6rem;
}

/* Left */

.padding-left-16 {
    padding-left: 1.6rem;
}
.padding-left-24 {
    padding-left: 2.4rem;
}
.padding-left-32 {
    padding-left: 3.2rem;
}
.padding-left-48 {
    padding-left: 4.8rem;
}
.padding-left-64 {
    padding-left: 6.4rem;
}
.padding-left-96 {
    padding-left: 9.6rem;
}

/* Right */

.padding-right-16 {
    padding-right: 1.6rem;
}
.padding-right-24 {
    padding-right: 2.4rem;
}
.padding-right-32 {
    padding-right: 3.2rem;
}
.padding-right-48 {
    padding-right: 4.8rem;
}
.padding-right-64 {
    padding-right: 6.4rem;
}
.padding-right-96 {
    padding-right: 9.6rem;
}

/* Bottom */

.padding-bottom-16 {
    padding-bottom: 1.6rem;
}
.padding-bottom-24 {
    padding-bottom: 2.4rem;
}
.padding-bottom-32 {
    padding-bottom: 3.2rem;
}
.padding-bottom-48 {
    padding-bottom: 4.8rem;
}
.padding-bottom-64 {
    padding-bottom: 6.4rem;
}
.padding-bottom-96 {
    padding-bottom: 9.6rem;
}

/* Horizontal */

.padding-horizontal-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.padding-horizontal-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.padding-horizontal-32 {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}
.padding-horizontal-48 {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}
.padding-horizontal-64 {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
}
.padding-horizontal-96 {
    padding-left: 9.6rem;
    padding-right: 9.6rem;
}

.padding-horizontal-auto {
    padding-left: auto;
    padding-right: auto;
}

/* Vartical */

.padding-vertical-16 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.padding-vertical-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.padding-vertical-32 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}
.padding-vertical-48 {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}
.padding-vertical-64 {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
}
.padding-vertical-96 {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.padding-vertical-auto {
    padding-top: auto;
    padding-bottom: auto;
}

/* All */

.padding-16 {
    padding: 1.6rem 1.6rem;
}
.padding-24 {
    padding: 2.4rem;
}
.padding-32 {
    padding: 3.2rem;
}
.padding-48 {
    padding: 4.8rem;
}
.padding-64 {
    padding: 6.4rem;
}
.padding-96 {
    padding-top: 9.6rem;
}
.padding-auto {
    margin: auto auto;
}

/* 
********************************
    Layouts
********************************
*/
.section {
    padding: var(--section-spacing-desktop) 0;
}
@media screen and (max-width: 768px) {
    .section {
        padding: var(--section-spacing-tablets) 0;
    }
}
@media screen and (max-width: 478px) {
    .section {
        padding: var(--section-spacing-mobile) 0;
    }
}
.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
    width: 100%;
    flex-wrap: wrap;
}
.flex-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.restricted-text-width {
    max-width: 60rem;
}

.main {
    padding-top: 15rem;
}

.grid-2-1 {
    display: grid;
}

.style-guide {
    display: flex;
    flex-direction: column;
}

table {
    /* border: 1px solid  lightgray; */
    margin: 5rem auto;
    box-shadow: 1px 3px 10px lightgray;
    width: 100%;
    padding: 3.2rem;
}
table tr:nth-child(even) {
    background-color: white;
}

/* Apply styles to odd rows (alternating colors) */
table tr:nth-child(odd) {
    background-color: #f9f9f9;
}
td {
    padding: 1.6rem;
    font-size: 2.4rem;
    /* border: 1px solid #eeeeee;
    border-collapse: true; */
}
th {
    font-size: 2.4rem;
}
/**********************************
        Grids
************************************ */

/* .grid-container {
    border: 3px solid lightgray;
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    width: 90vw;
    margin: auto auto;

    gap: 0;
} */

.grid-4-2-1 {
    /* border: 3px solid lightgray; */
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    width: 100%;
    margin: auto auto;
    gap: 3rem 3rem;
}
@media screen and (max-width: 1100px) {
    .grid-4-2-1 {
        grid-template-columns: 50fr 50fr;
    }
}
@media screen and (max-width: 730px) {
    .grid-4-2-1 {
        grid-template-columns: 1fr;
    }
}

.grid-2-1 {
    /* border: 3px solid lightgray; */
    display: grid;
    grid-template-columns: 50fr 50fr;
    width: 100%;
    margin: auto auto;
    justify-items: center;
    gap: 3.2rem 3.2rem;
}

@media screen and (max-width: 730px) {
    .grid-2-1 {
        grid-template-columns: 1fr;
    }
}

/* Layout components - Card */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}
.card__header,
.card__body {
    padding: 2rem 3rem;
}
.card--default {
    background: var(--color-default-background);
    color: var(--text-color-primary);
}
.card--light {
    background: var(--color-primary-lighter);
    color: #fff;
}
.card--primary .card__header {
    background: var(--color-primary);
    color: white;
}

.card__logo {
    height: 4.8rem;
    width: 4.8rem;
}
/* 
*********************************
    Animation
*********************************
*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUpFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* using animation By applying following classes */

.adp-animate-slideInFromLeft {
    animation-name: slideInFromLeft;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.adp-animate-slideInFromRight {
    animation-name: slideInFromRight;
    animation-delay: 0.8s;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.adp-animate-slideUpFromBottom {
    animation-name: slideUpFromBottom;
    animation-timing-function: ease-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.adp-animate-fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
