<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout_content">
            <h2 class="callout__heading">Ready To Get Started?</h2>
            <p class="callout__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi fugit animi quaerat cupiditate voluptates amet at sit
                odit blanditiis? Odio suscipit excepturi praesentium molestiae
                quia beatae tempora exercitationem eaque corporis dolor magnam
                maiores illum sapiente culpa ad aperiam harum ducimus
                reprehenderit, tenetur alias. Esse illo mollitia aperiam porro
                est placeat.
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>
