<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary media__image">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Manage Updates</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
            aliquam culpa. Consectetur alias qui unde! Quisquam atque ad ex
            dolorem!
        </p>
    </div>
</div>
