<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        magni vero earum natus dolore quo dignissimos vel a quisquam, iste nihil
        soluta ex incidunt iusto porro voluptates explicabo totam, ipsum cum
        cumque eaque praesentium repellat facilis. Accusamus quam, velit
        officiis debitis, minima tempora_autohor tenetur consequatur tempore
        iure est dignissimos iusto.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary media__image quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Ali Zafar</h3>
                <p class="quote_organization">CEO Aesthetic Designs</p>
            </div>
        </div>
    </footer>
</blockquote>
